body{
    margin: 20px;
    background: #ECE6E6;
    font-family: Tahoma;
}

p{
    text-align: justify;
    font-size: 120%;
}

a{
    text-decoration: none;
    color: black
}

.ico{
    width: 50px;
    padding: 20px;
}
